.logo {
  height: 32px;
}
.slick-dots {
  bottom: 5px!important;
  li button:before {
    color: #ffffff!important;
  }
}
.wallet {
  background-color: #0775c2;
  border-radius: 5px;
  padding: 20px 20px 30px 20px;
  border: 1px solid #cccccc;
  cursor: pointer;
  .input-container {
    display: flex;
    .left {
      flex: 1;
      h1 {
        color: white;
      }
    }
    .right {
      flex: 1;
      input {
        height: 42px;
        border: none;
        font-size: 2rem;
        text-align: right;
        background-color: transparent;
        color: #ffffff;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .balance-rates {
    display: flex;
    h5 {
      color: white;
      flex: 1;
      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }
    }
  }
}
.exchange-header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  .left-col {
    text-align: left;
  }
  .center-col {
    text-align: center;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 3px;
    background-color: #4491c7;
    border-color: #ffffff;
    color: #ffffff;
  }
  .right-col {
    text-align: right;
    strong {
      cursor: pointer;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
